@import './styles/variables';

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;

  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;

    .homeButton {
      @include button-dark();
      margin: 10px 0px;
    }
  }
}